@{
    ViewData["Title"] = "201695061 윤동제";
}

<div class="text-center">
    <h1 class="display-4">Welcome test homepage djYoon!!!</h1>
    <h2 class="display-4">홈페이지에 방문해 주셔서 감사합니다.</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
